version: '3'
services:
  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
      - frontend

  backend:
    build: .
    env_file: .env
    ports:
      - "5001:5001"
    environment:
      - MONGO_URI=mongodb://mongo:27017/percept
    depends_on:
      - mongo

  frontend:
    build: ./webapp

  mongo:
    image: mongo:4.4
    volumes:
      - mongodata:/data/db
    ports:
      - "27017:27017"

volumes:
  mongodata: